/*
	FONT DEFINITIONS
	
	Interface: Arial
	Speech/Communications: Verdana 
	Code/Control_Communication: Courier New


	COLOR DEFINITIONS

	Color 0: Page Background
	Color 1: TitleBar
	Color 2: Main Content Background
	Color 3: Non-Code Windows (goals & memory)
	Color 4: Code Window (focusOut - *&initialize.js)
	Color 5: Code Window (focusIn - initialize.js)
	Color 6: Communication Bubble Background
	Color 7: Text Highlight
	Color 8: QUIT & DEBUG Box

	Pastel Palette:
	#cec, #ccf, azure, snow, honeydew, white, white, #fcc, aliceblue

	I Demand a Pancake Palette:
	594F4F, 547980, 45ADA8, 9DE0AD, E5FCC2, white, white, *, *, *
	
	Japan 9 Palette:
	1A1F1E, 6CBDB5, C8D6BF, 93CCC6, E3DFBA
	
	Interfaced:
	EBE4DD, 034E75, 6EA3AC, EBE4DD, EBE4DD, EBE4DD, 

*/

body {
	background: 	#snow; /* Color 0 */
	color: 			black;
	font-family:	"Arial";
	padding:		1em;
	margin:			0em;
}

p {
	color: 			white;
	font-family:	"Arial";
}

a {
	color:			 gray;
	font-weight: 	 bold;
	text-decoration: none;
}

#titleBar {
	background:		#034E75; /* Color 1 */
	color: 			white;

	font-size:		medium;
	font-weight: 	bold;
	margin-left:	auto;
	margin-right:	auto;
	width:			60em;
	height:			1.5em;
	vertical-align: middle;
	
	padding:		1em; /*.5em 1em .5em 1em;*/
	border:			1px solid gray;
	border-top-right-radius:	.5em;
	border-top-left-radius:		.5em;
	-moz-border-radius-topleft: .5em;
	-moz-border-radius-topright: .5em;
}

#content {
	background:		#E5E6E5; /* Color 2 */
	color:			black;
	margin-left:	auto;
	margin-right:	auto;
	width:			60em;
	height:			150%;
	padding:		1em;
	padding-top:	0em;
	border:			1px solid gray;
	vertical-align: top;
	text-align: 	left;

	border-bottom-right-radius:		1em;
	border-bottom-left-radius:		1em;
	-moz-border-radius-bottomleft:	1em;
	-moz-border-radius-bottomright: 1em;
}

#leftPanel {
	width:			20em;
	float: 			left;
}

#centerPanel {
	width:			19em;
	float: 			left;
}

#rightPanel {
	width:			19.25em;
	float: 			right;
}

#grid {
	margin:				 0em; 
	border-radius:		.25em;
	-moz-border-radius: .25em;
}

#memory {
	background:		#E4F0E0; /* Color 3 */
	color:			black;
	padding: 		1em;
	border:			2px solid rgb(200,200,200);
	border-radius: 	.5em;
	
	border-bottom-right-radius: 1em;
	border-top-left-radius: 	1em;
	-moz-border-radius: 1em .5em 1em .5em;
}

#controls {
	padding:		.25em;
	margin-top:		.5em;
	text-align: 	center;
}

.codeContainer {
	font-family: 	"Courier New";
	font-size: 		small;
}

#code {
	background-color: #E4F0E0; /* Color 4*/
	color: 			black;
	font-family: 	"Courier New";
	font-weight: 	bold;
	font-size: 		small;
	width:			20em;
	height:			18.5em;
	border:			2px solid rgb(200,200,200);
	padding: 		1em;

	border-radius: 		1em 0 1em .5em;
	-moz-border-radius: 1em 0 1em .5em;
}

#code[contentEditable="false"] {
/* 	background-color: rgb(42,33,28); */
	overflow-x: 	auto;
	word-wrap: break-word;
}

#code[contentEditable="true"] {
/* 	background-color: black; */
	color:			black;
	overflow-x: 	auto;
}

#goalBox {
	background-color: #fcc; /* Color 7 */
	width:100%;
	padding:.2em;
	padding-left:0em;
}

#goalLine {
	background-color: #fcc; /* Color 7 */
	color:rgb(201,170,55);
	padding-left:	.3em;
	padding-top:	.25em;
	padding-bottom:	.25em;
	padding-right:	.25em;
}

#goals {
	background-color: #E4F0E0; /* Color 3 */
	color:			black;
	font-family: 	"Courier New";
	font-weight: 	bold;
	font-size: 		small;
	width:			20em;
	border:			2px solid rgb(200,200,200);
	padding: 		1em;
	
	border-radius:		1em .5em 1em .5em;
	-moz-border-radius: 1em .5em 1em .5em;
}

.goal {
	font-family: 	"Courier New";
	font-size:		small;
	color: 			black;
	font-weight:	bold;
}

.success {
	font-family:	"Arial";
	font-size:		10pt;
	margin-left:	1em;
	color:			green;
}

.failure {
	font-family:	"Arial";
	font-size:		10pt;
	margin-left:	1em;
	color:			red;
}

h1 {
	font-family: 	"Arial";
	text-transform: lowercase;
	font-size: 		x-large;
	margin:			0em;
	margin-bottom:	.5em;
	margin-top:		1em;
}

h2 {
	font-family: 	"Arial";
	text-transform: lowercase;
	font-size: 		large;
	margin:			0em;
	margin-bottom:	.5em;
	margin-top:		1em;
}

h3 {
	font-family: 	"Verdana";
	text-transform: lowercase;
	font-size: 		small;
	margin:			0em;
}

textarea {
	font-family: 	monospace;
	font-size: 		medium;
	padding:		1em;
	margin: 		0em;
}

.runtimeInfoContainer {
	font-family: 	Arial;
	text-transform: lowercase;
	font-size:		small;
	width:			20em;
	min-height:		4em;
	text-align: 	left;
}

.thoughtBubble {
	background-color: white; /* Color 6 */
	color:			black;
	padding:		1em;
	margin-top:		.5em;
	min-height:		2em;
	font-family: 	"Verdana";
	border:			2px solid rgb(200,200,200);
	border-radius: 	1em;
	-moz-border-radius: 1em;
}

#thingThought {
	position:		absolute;
	visibility: 	hidden;
	width:			15em;
	z-index: 		2;
}

#energy {
	font-size:		x-large;
	color:			black;
}

.thing {
	width:			2em;
	height:			2em;
	border:			none;
}

.thingBox {
	font-family:	"Arial";
	font-size:		9pt;
	float:			left;
	text-align:		center;
	border:			4px solid rgba(255,255,255,0.0);
	cursor: 		help;
}

.bracket {
	font-family:	"Arial";
	font-size:		2.75em;
	color:			black;
	float:			left;
}

.thingList {
	text-align:		left;
	width:			100%;
	min-height:		1em;
	margin: 		0em;
	padding: 		0em;
}

.selection {
	border:			4px solid rgb(0,255,0);
	border-radius:	5px;
	-moz-border-radius: 5px;
}

.runtimeInfoContainer .runtimeReference, #goals.runtimeReference {
	border:			4px solid rgb(255,0,0);
	border-radius:	5px;
	-moz-border-radius: 5px;
}

#thought .runtimeReference {
	border-bottom:	4px solid rgb(255,0,0);
}

.sourceToken.runtimeReference {
	border-bottom:	4px solid rgb(255,0,0);
}

.sourceLine.runtimeReference {
	
	background-color: #fcc; /* Color 7 */
}

.sourceToken.keyword {
/* 	font-weight: bold; */
	color:			green;
}

#mission {
	width:			18em;
	height:			17em;
	top: 			4.5em;
	display:		none;
	position:		absolute;
	background:		rgb(42,33,28);
	border:			2px solid rgb(200,200,200);
	border-radius: 	.25em;
	-moz-border-radius: .25em;
	text-align:		right;
	z-index:		50;
	padding: 		1em;
}

#missionText {
	font-family: 	"Verdana";
	padding-bottom:	1em;
	text-align: 	left;
}

.thoughtBubble p {
	font-family: 	"Verdana";
	color:			black;
}

.thoughtTable td {
	text-align: 	left;
	vertical-align: top;
	color:			black;
	padding:		.5em;
	margin:			0em;
}

.thoughtTable {
	margin:			0em;
}

table {
	padding: 0em;
	margin: 0em;
}


.introBox {
	background-color: white;
	
	border:			solid 1px black;
	border-radius: 	2px;
	-moz-border-radius: 2px;
	
	padding:		10px;
	position: 		fixed;
	top:			1em;

	width:			640px;
	margin-left:	-330px;
	left:			50%;
}


.popup {
	background:		aliceblue; /* Color 8 */
	font-family: 	"Arial";
	border:			solid 2px black;
	border-radius: 	.75em;
	-moz-border-radius: .75em;

	padding:		1em;
	padding-top:	0em;
	position: 		fixed;
	width:			20em;
	margin-left:	-10em;
	top:			4em;
	left:			50%;
}

.popup p {
	color: black;
}

/*
#quit {
	background:		#fcc;
	color:			#333;
	text-align:		left;
	border-radius:	1em;
	-moz-border-radius: 1em;
}
*/

#commandReset {
	position:	relative;
	top:	-300px;
	left:	215px;
}


#titleRight {
	float: right;
	font-size:	small;
}


.align-right {
	float:right;
}

.align-left {
	float:left;
}

.black {
	color: black;
}

.white {
	color: white;
}

.smallfont{
	font-size: small;
}


.tooltip {
	background-color: white; /* Color 6 */
    position:	absolute;
    z-index:	999;
    left: 		-9999px;
    padding:	1em;
    border:		1px solid #fff;
    width:		14em;
    border:			2px solid rgb(200,200,200);
	border-radius: 	.5em;
	-moz-border-radius: .5em;
    
}

.tooltip p {
    background-color:	white;
    color:		black;
    font-family:"Arial";
    margin:		0;
    padding:	0;
   
}

.progress {
	margin-top: 1em;
	background-color: gray;
	height: 1em;
}